[2015-05-29 13:45] jvgomez opened #13 "Dynamic reconfigure in server"
Hi, before doing the job I prefer to ask, just in case:

- Is there any reason why the octomap_server only has the max_depth parameter in the dynamic reconfigure server and not other parameters, such as those for cloud filtering or ground segmentation?

In case there is no inconvenient, I suggest it as an enhancement. I would most probably do it by myself in that case.

[2015-05-30 12:40] ahornung commented on #13
There's no reason not to have additional parameters in dynamic_reconfigure, except the work required to implement it ;)

Max depth was just the most useful and obvious one to start with. Contributions are welcome!

[2015-06-04 10:28] jvgomez commented on #13
I have the server running, but not really clean because of this problem: http://answers.ros.org/question/210400/dynamic-reconfigure-and-parameter-namespaces-in-octomap_server/

Do you have any suggestion on how to overcome it?

[2015-06-22 07:28] #13 closed

[2015-10-30 09:05] mmurooka opened #24 "Release octomap_server in jade"
Cloud you release deb package of octomap_server in jade?
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1276#issuecomment-152463121

[2015-11-03 19:25] ahornung commented on #24
Release is on its way towards to build farm.

[2015-11-04 00:52] mmurooka commented on #24
Thank you.

[2015-11-07 20:06] ahornung commented on #24
octomap_mapping arrived in the shadow-fixed repo, will appear in public at the next sync: http://www.ros.org/debbuild/jade

Closing here.

[2015-11-07 20:06] #24 closed, assigned to nobody

[2015-11-08 02:23] mmurooka commented on #24
Thank you!

[2016-07-23 06:35] sytelus opened #30 "Is ROS Kinetic supported yet?"
I don't see octomap_mapping or octomap_server packages in ros-kinetic. Is Kinetic supported yet? These are the only packages that is preventing us to move on to Kinetic :(. It's especially bad because if we want to downgrade to Jade then we also have to downgrade OS to Ubuntu 14.04 because Ubuntu 15 support expires in few month.

Is there anyway to use mapping and server packages on Kinetic?

Than

[2016-07-24 18:06] ahornung commented on #30
I currently lack the time to test octomap_server in Kinetic. If there is support from the community by testing the compilation and basic functionlity of octomap_server in Kinetic, then this would drastically speed up a release

Basically, the state of `kinetic-devel` (I just created a new branch based on `jade-devel` should just work.

[2016-07-24 21:50] dangquang1993 opened #31 "Problem with ground filter"
Hi,
## Context

I am using octomap with my quadcopter with three small stereo cameras in an exploration mission where the elevation of the ground is unknown but can vary by sometimes a maximum of 2meters over the course of the entire flight. We use the 2D projected map to do our path planning and we would like to have the ground marked as free space in the projection map. Our problem is that when

[2016-07-25 18:24] sytelus commented on #30
May be we can just start with that? If you can publish these packages in Kinetic release then we can start using them and file bugs as we encounter.

[2016-07-29 20:15] ahornung commented on #30
A broken package can delay the complete build farm. Only tested and working packages should be released, otherwise users will stumble over non-working code.

But on the other hand there's no need to have a binary release for testing and bug fixing. Why not add octomap_mapping to your catkin source checkout and compile?

[2016-07-29 20:18] ahornung commented on #31
That PCL error / warning appears when there can be no plane estimated, usually when there are to few or no points. Maybe the parameter `sensor_model/max_range` is too low?

You could also try debugging with rqt_console, depending on the log level set you'll see exactly what octomap_server is doing.

[2016-08-02 16:35] LorenzMeier commented on #30
Never mind - the install instructions for the ROS kinect driver have the side-effect of installing a different, non-compatible GCC version. Will report back in a sec.

[2016-08-05 17:41] akshayshetty opened #32 "Help with launch file"
Hi all,

I think I am having some problem with the remapping as nothing is being published to the /occupied_cells_vis_array. I have my pointcloud2 being published to /velodyne_cloud_registered. The frame id of this message is /sensor_init_rot.

In the launch file for octomap_server, I have tried using different values for frame_id: odom_combined, map, sensor_init_rot. This is how it currently look

[2016-08-05 18:17] ahornung commented on #32
This can have a number of different reasons, the most common one being that your TF tree is not working correctly. Best debug with rqt_console.

ROS answers is probably the best place for these kinds of questions.

[2016-08-05 18:17] #32 closed, assigned to nobody

[2016-09-02 15:03] anderwm opened #37 "Point clouds assembled in map raytrace from origin"
It is likely I am not using your software as intended, but if not this is a legitimate issue.  I use laser_assembler to assemble point clouds from the laser source into the map frame.  Then I am trying to run an octomap server to take the clouds in and also make the octomap in the map frame.  Because the cloud is already transformed to map, your code

`insertScan(sensorToWorldTf.getOrigin(), pc_gr

[2016-09-09 10:32] ahornung commented on #37
The raycasts need an origin and yes, it is assumed to be the origin of the sensor coordinate system. Couldn't you assemble the scans in a local coordinate system and then publish the TF transform into the map frame? That's how nearly all drivers create point cloud data.

Otherwise you need to write a custom node that relies on some custom synchronized message for the sensor origin, since it's not

[2016-09-09 13:13] anderwm commented on #37
This may be where I am missing something simple, but I have thought about how to do this.  The problem is the laser is on a trolly that moves (in x) in the map frame.  The laser TF to all other frames except map is a constant value, so the scans assemble on top of each other rather than using the x information present in map.

As a temporary solution I am publishing point clouds in the laser frame

[2016-09-21 20:00] ahornung commented on #37
Ah, so each scan is taken from a fundamentally different origin? I had somehow assumed that this is assembled point cloud data from one location, e.g. from a tilting scanner.

Yes, each single scan of the laser has to be a new point cloud with new TF data if your laser constantly moves while scanning.

If that's a problem, it might be more efficient to write a direct subscriber to laser scan data

[2016-09-21 20:06] anderwm commented on #37
Ok, thanks for your time.  If I need to write the laser to octomap code I will submit it back to you.

[2016-09-26 23:14] james-ward commented on #30
I have built and deployed the kinetic-devel branch on ROS kinetic. It builds and runs fine.

[2016-10-15 16:41] KvalheimRacing commented on #30
How did you do it?

[2016-10-15 23:39] james-ward commented on #30
@KvalheimRacing It's a pretty standard catkin build.
Make a workspace ( http://wiki.ros.org/catkin/Tutorials/create_a_workspace ), then clone the source into it:

[code]

[2016-10-16 16:35] KvalheimRacing commented on #30
Ah ofc, thanks!

[2016-10-16 18:48] KvalheimRacing commented on #30
Is there any prefered target link library? In my CMakeLists.txt file, I dont know how to make a library/"MY_TARGET_NAME". Or, I know that the library not should be made in the CMakeList.txt file, but I dont know where.

edit: I just typed; link_libraries(${OCTOMAP_LIBRARIES}), and got to install all. But now there are errors from all the place when I run the `roslaunch octomap_mapping.launch octom

[2016-10-19 17:22] ahornung commented on #30
Thanks! A release for kinetic (0.6.1) is on the way to the build farm.

[2016-10-26 22:26] james-ward commented on #30
The package appeared on the repo yesterday.
Just installed it - works nicely.

[2016-10-27 19:43] #30 closed, assigned to nobody

[2016-10-31 00:32] james-ward opened #39 "Problem remapping topic using nodelet octomap_server"
I originally posted a question on ROS Answers, but I've done some more experimenting and I think this is specific to the nodelet implementation of octomap server.

I cannot get a pointcloud topic in the same nodelet manager to remap to the input of the octomap server nodelet.

For example, neither of these lines work:
`<remap from="~cloud_in" to="depth/points" />`
or
`<remap from="octomap_server_n

[2016-11-01 21:21] #37 closed, assigned to nobody

[2017-06-14 12:54] Blupblupblup commented on #31
Hi !  I'm having the same issue, with or without defining a `sensor_model/max_range`

For example I run:

`rosrun octomap_server octomap_server_node cloud_in:=/pcl_xyz _occupancy_min_z:=-.85 _occupancy_max_z:=0.5 _filter_ground:=true _ground_filter/plane_distance:=0.8
`

which includes points belonging to the ground.

To get similar errors:

`[INFO] [1497343346.217816837]: PCL segmentation did not

[2017-06-14 19:32] ahornung commented on #31
If there are too few points for a reasonable ground plane fit then you should not use the ground filter.

However, I'm seeing a `Transform error` in your log. Could it be that you're missing the proper base and base_footprint tf transforms?

[2017-06-15 09:18] Blupblupblup commented on #31
Indeed ! I just tried it again, this time with proper parameters for [octomap_server](http://wiki.ros.org/octomap_server) **~frame_id** and **~base_frame_id** (`view_frames` pdf return [here](https://nuage.ensta.fr/index.php/s/jQgmts4DOFSWXVz)), getting the no ground plane found warning again.

### Command-line messages:

`[pcl::SampleConsensusModelPlane::optimizeModelCoefficients] Not enough inli

[2017-12-05 08:14] snakehaihai commented on #31
I tried octomap output with my own pcl ground filter node. it works fine. So you can use it same way as well

[2018-01-10 04:44] tcassell94 commented on #39
Old issue, but still exists, so...

I believe this is because the octomap server class isn't a native nodelet class (ie, doesn't inherit from nodelet::Nodelet), and therefore doesn't do the "proper" nodelet thing and use a call to `getPrivateNodeHandle()`. It simply gets its own nodehandle. When wrapped by the octomap server nodelet, this nodehandle becomes the nodehandle of the nodelet manager. T

[2018-04-09 12:27] saurabhbansal90 commented on #30
Hello Guys, I am planning to use Octomap for my robot arm manipulation, for obstacle avoidance.
So for that purpose, I think  I will be following steps below:
1. Get the point cloud from sensor
2. Run a Octomap server node to receive the point cloud
3. From Octomap server, subscribe to the binary octomap

Then how to pass this binary data to some path planner for obstacle avoidance.

Can somebody

[2018-04-22 19:06] ahornung commented on #30
Hello Saurabh,

your best bet would be to look at the MoveIt! package. It incorporates
all the steps + manipulation planning.

[2018-04-23 06:02] saurabhbansal90 commented on #30
Hello Armin, thanks for your response.
Yes its available in MoveIt package only. I folllowed this [link](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pr2_tutorials/planning/src/doc/perception_configuration.html).

It is working fine apart from showing a TF error. I am resolving that error.

[2018-05-30 12:10] axelfar opened #45 "Add unknown voxels ?"

[2018-07-03 16:41] brunoeducsantos opened #46 "Is it possible to save as octomap file several parts of the recording?"
Hey,
I want to save to .bt file several tracks of my bag file recording. Is that possible?

Cheers,
Bruno

[2018-07-10 10:05] brunoeducsantos commented on #31
Did anyone find a solution?

[2018-07-20 09:52] brunoeducsantos opened #48 "Update Octomap in realtime using octomap_rviz_plugin"
Hi,
This is a question why my octomap_server is overlaying the several octomaps created.
My hunch is that I am missing the right frame_id or some tf from SLAM. The SLAM algorithm is LOAM which have two frames: camera ; camera_init. From this, I wrote the following launch file:
`
<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value=

[2018-07-20 09:57] #46 closed, assigned to nobody

[2018-08-28 11:49] mjbogusz opened #49 "Release for ROS Melodic Morenia"
Will `octomap_server` (and `octomap_ros`) be released (packaged and available in repo) for ROS Melodic?

I've tested the `melodic-devel` branch by adding the packages to a catkin workspace and it worked flawlessly as far as our usecase goes (Gazebo simulation, Kinect for mapping and planning robot motion based on current octomap state).

[2018-10-04 19:34] ahornung commented on #49
I'm not planning any more releases of octomap_server at the moment, since I can't maintain it myself anymore. Even if working "as-is", there are bound to be patches and fixes necessary at some point in time. So I think it's best to add it to a source workspace and build manually.

I added another release of octomap_ros though, even if it doesn't look like there are any packages directly depending

[2018-12-17 11:41] atharvasaraf opened #51 "Running custom tf node crashing octomap_server node"
Hi! I am running a UAV simulator package. I am trying to use the octomap_server launch file to generate a map from available pointCloud data. I have remapped the nodes as required. However publishing transforms through a custom node [tfNode.cpp](https://github.com/OctoMap/octomap_mapping/files/2685813/tfNode.txt) results in the octomap server crashing with error

log file: /root/.ros/log/a5836ec4-

[2019-01-14 17:12] wxmerkt commented on #49
@ahornung I am happy to volunteer to do the release for melodic and look at pull requests and fixes that may come in, time permitting. There are some upstream dependent packages which would be a great benefit to the community if we could get them released/unblocked (e.g., `jsk_rviz_plugins`).

[2019-01-17 21:52] ahornung commented on #49
Sounds good to me, thanks for volunteering!

@mikaelarguedas @dirk-thomas @wjwwood could you add @wxmerkt  as maintainer to ros-gbp/octomap_mapping-release?

[2019-01-17 21:54] dirk-thomas commented on #49
Done.

[2019-01-17 23:13] wxmerkt commented on #49
Thank you very muich @ahornung and @dirk-thomas! I am happy to make the release. Are there any outstanding pull requests or features we'd like to get in before releasing? Otherwise I'll release `0.6.1` as on kinetic to melodic.

[2019-01-18 06:22] Raisintoe commented on #51
I am also having trouble with a custom-made tf broadcaster, and using it with octomap_server. Although, octomap_server continues running for me, it produces an error. Right now, I am assuming that the error occurs because my /cloud_in data does not align with the time stamps of the corresponding tf frame.

So as a guess, (because I am trying to solve this too), it may be that the data and tf frame

[2019-01-18 11:05] wxmerkt commented on #49
I have released `0.6.1` to melodic from `kinetic-devel`: https://github.com/ros/rosdistro/pull/19985 as there are no changes yet in `melodic-devel`.

[2019-01-24 17:40] ahornung commented on #49
@wxmerkt I'm getting a few "Build failed" messages from the build farm, could you look into it? It might be best to switch out my email address for yours as maintainer.

[2019-01-24 20:23] wxmerkt commented on #49
I am happy to look into it. Could you please give me write access to this repo as well?

[2019-01-26 09:40] ahornung commented on #49
Done, added you to all the ROS repos `octomap_*`.
One of the failing jobs is here: http://build.ros.org/job/Mbin_ubv8_uBv8__octomap_server__ubuntu_bionic_arm64__binary/3/display/redirect

They all appear to be ARM jobs, so maybe they just need to be blacklisted for the platform.

[2019-01-26 15:03] wxmerkt commented on #49
Thank you! I’ll have a look into it and will update the maintainer email.

[2019-01-26 15:14] atharvasaraf commented on #51
Can you please explain the kind of error you are getting? Have you provided the complete transform from /cloud_in to fixed frame?

[2019-01-29 01:04] wxmerkt commented on #49
`octomap_mapping` has now been released to `melodic`. It will be available after the next melodic sync.

[2019-01-29 01:04] #49 closed, assigned to nobody

[2019-05-06 16:53] haakonelf commented on #48
Hey! Did you figure it out?
Thanks

[2019-05-07 12:02] #48 closed, assigned to nobody

[2019-05-07 18:33] haakonelf commented on #48
I will take that as a no?

[2019-05-21 23:47] shrijan00 opened #56 "How to integrate .ply file from cartographer to octomap_mapping"
Hi, I have point cloud in .ply format from Cartographer and I want to use this for generating the Octomap in Rviz using this octomap_mapping. Is it possible to do so or do I have to use separate viewer for generating octomap or writing a separate node to read the .ply file and then publish as pointcloud2 type can also be an option?

[2019-06-13 05:20] cedrusx opened #57 "License?"
Dear contributors, would you consider to specify a license for this project? Thanks!

From [GitHub Help](https://help.github.com/en/articles/licensing-a-repository):

[2019-06-13 08:33] wxmerkt commented on #57
The package files specify the BSD license:

https://github.com/OctoMap/octomap_mapping/blob/d126754ba1ea13167c452dbc360585e9c61dbd03/octomap_mapping/package.xml#L9

https://github.com/OctoMap/octomap_mapping/blob/d126754ba1ea13167c452dbc360585e9c61dbd03/octomap_server/package.xml#L9

[2019-07-17 09:13] Linearl commented on #31
To be simple, you misunderstood the parameters.
If you look inside the code and you will find some functions in <octomap_server.cpp>.
in function `OctomapServer::insertCloudCallback`, author use function `void OctomapServer::filterGroundPlane` to do the filter work.
The base idea is to find a plane which is vertical to the axis-Z in world cordinate.  `zmin zmax` are used to decide the inliers.
Enl

[2019-07-21 03:00] icesit opened #58 "problem in filtering pointcloud"
Hello.
In OctomapServer.cpp, line 318 to 323, the pass_x, pass_y and pass_z has filtered the point cloud. However, later in line 334 to 339, the filter worked again.
I think maybe this is a bug? Should the filter action only be done in base frame but not in world frame?

[2019-07-21 18:18] wxmerkt commented on #58
This is surrounded by an if-statement and the filter is in repeated for each of the branches. As thus, it is not done twice.

[2019-08-18 17:55] #57 closed, assigned to nobody

[2019-08-18 17:56] #58 closed, assigned to nobody

[2019-11-03 12:24] yputra commented on #39
Anyone has solved this issue? I used to only use the octomap server node, now when I want to use the nodelet, it has the same issue, as it could not detect the cloud in remap topic. Any suggestion would be helpful!

[2019-11-04 03:15] wxmerkt commented on #39
@yputra can you please try #42 and feed back whether that resolves the issue for you? If so, I will update that PR, merge it, and make a new release.

[2019-11-04 08:44] yputra commented on #39
@wxmerkt Hi Wolfgang, yes I have implemented #42 and it is working well for me now. I think you should merge it.

Just a note that after implementing #42 , the remap of the input should be from "cloud_in" instead of "octomap_server_nodelet/cloud_in".

[2019-11-04 16:01] wxmerkt commented on #39
Thank you very much for the quick feedback. We will have to fix #42 to preserve current behaviour.

[2019-11-05 01:55] wxmerkt commented on #39
@yputra Can you please try #61?

[2019-11-11 17:17] bomarali opened #62 "Can OctoMap unoccupy?"
Does OctoMap work with dynamic objects at all? Say if I want to grasp an object and move it, will the OctoMap reflect the change? So far I have been playing with sensor model but I cannot seem to make the OctoMap forget the original position of the object.

[2019-11-13 10:14] agchatzik opened #63 "Nothing to publish, octree is empty"
I am a publishing a PointCloud (Type: sensor_msgs/PointCloud2) in topic pc_pub. I have remapped "cloud_in" topic to the according pointcloud topic and the fixed frame in the launch file corresponds to the fixed frame in rviz (map) . Running  ran "rostopic echo pc_pub" verifies that the pointcloud is indeed being published to this topic and octomap_server is Subscribing into the topic too. However,

[2019-11-15 19:52] ahornung commented on #62
There is no explicit decay or labeling of dynamic objects. For an object to clear, you need to see a sufficient number of points in the background behind the removed object, or modify the code to use "maxrange" readings for clearing only. A tweaked sensor model helps to clear an object faster.

[2019-12-03 10:07] bomarali commented on #62
My bad, I transformed the point cloud to a different frame before feeding into the octomap server.

[2019-12-03 10:07] #62 closed, assigned to nobody

[2020-01-08 15:07] yputra commented on #39
@wxmerkt Hi Wolfgang, sorry for the late reply. Yes it is now working as well with #61 . Thanks a lot for the support!

[2020-01-08 16:02] #39 closed, assigned to nobody

[2020-01-08 16:02] wxmerkt commented on #39
Thank you for the feedback. This has now been merged to `kinetic-devel`.

[2020-02-12 14:27] acpl00 opened #65 "/octomap_point_cloud_centers topic is not clear when there is a loop closure in rtabmap_ros"
Dear people

I have a launch file that contains the following two packages, among others:

 `rtabmap.launch`

 `octomap_server with cloud_in = /rtabmap/cloud_map`

I do have a problem, when I run the `rtabmap.launch`  and I plot the `/octomap_point_cloud_centers` in `RVIZ`.

The problem is that when the rtabmap finds a loop closure and corrects itself, the `/octomap_point_cloud_centers` topic do n

[2020-02-12 16:11] wxmerkt commented on #65
Hi!
Sorry I am not familiar with the particular launch file, rtabmap, or how it uses the octomap package or which node thereof. You should be able to make a service call to reset the octomap which potentially would clear the point cloud?

[2020-02-13 06:20] acpl00 commented on #65
Hi,
I have called the reset service call, and indeed in resets the `cloud_map`,  but it does not reset or clear the `/octomap_point_cloud_centers`. And when there is a `rtabmap_ros` loop closure the `/octomap_point_cloud_centers` does not clear and the resulting map is a combination of the corrected map due to the loop closure and the not corrected one.

If you do not mind you can take a look at t

[2020-02-13 13:19] wxmerkt commented on #65
Sorry I do not have the capacity or time to provide support to user questions. Based on checking the source code, `publishAll` should be called so the point cloud should be published (`publishPointCloud=true`) with an empty point cloud message. Did you check that there is nothing when you listen to the topic upon a reset?

[2020-02-14 07:12] acpl00 commented on #65
I have tried the reset call service  and the the `/occupied_cells_vis_array` is reset, however  the `/octomap_point_cloud_centers` is not reset.

[2020-02-14 09:45] wxmerkt commented on #65
You may have to work with the source code and check that topics are published on reset (`publishAll`) and what those messages contain (e.g. `rostopic echo`)

[2020-03-02 12:20] borcherd commented on #63
@kaponloto Did you ever solve it?

[2020-03-02 13:11] wxmerkt commented on #63
Is the map frame being published?

[2020-03-09 19:20] FeiyangJin commented on #63
You may need to specify frame_id and base_frame_id to the same as you used in Rviz. In my case, I did it like:
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />

		<param name="frame_id" type="string" value="world_enu" />

		<param name="sensor_model/max_range" value="20.0" />

		<remap from="cloud_in" to="/airsim_node/drone_1/

[2020-04-09 15:08] JadTawil-theonly opened #66 "Rolling Window"
Say i want to only maintain a octomap in a certain window in the world frame. This window moves around, along with say a robot.

How can this be implemented easily? I say this because the algorithm slows down as the map becomes bigger, and it is needless to retain parts of the map that are far from the robot.

Thank you

[2020-05-07 11:38] borcherd opened #69 "not showing entire octomap"
I'm working on a project where a UAV needs to map an entire outdoor environment. Running in gazebo, i've got rtabmap which creates a pointcloud, and its being converted to an octomap with octomap_server to have the ability to save it to a .bt file. The only problem is that when looking at the octomap that octomap_server creates, its not the entire pointcloud converted to an octomap but only a part

[2020-05-12 10:35] gstavrinos opened #70 "Changes found in empty space"
Hello,

I have been experimenting with the octomap tracking server and I encounter a weird problem. After mapping the environment and run the tracking server, I get a pointcloud that includes empty areas above the robot, like in the attached screenshot. (mapped area in white and unoccupied changes in red)

![image](https://user-images.githubusercontent.com/6703819/81674036-40e37180-9455-11ea-81a6-

[2020-05-12 11:39] wxmerkt commented on #70
Hi George,
It's very hard to debug frames/pointclouds without insight into the processing chain (e.g. filters) and the tf transform trees, launch files, etc. Could you provide a reproduction case or describe these in more detail?

Thanks,
Wolfgang

[2020-05-12 12:21] gstavrinos commented on #70
Hey Wolfgang,

Thank you for getting back so fast.

I have a custom chain and I was suspecting that this was the issue, but I also tried the default octomap tracking server along with everything set at default and had the same problem.

With a bare-bones reproducible process, I am not using any filters and have only set ground filtering to true for both mapping and change tracking.

Regarding the

[2020-05-12 13:06] wxmerkt commented on #70
Hi George,
Thanks for the additional detail. Unfortunately it is really hard for me to debug or imagine what could be going wrong without a way to reproduce. We had a recent sync of Octomap to 1.9.5 (changes only related to build system and octovis moving to Qt5), as well as octomap_mapping from version 0.6.4 to 0.6.5 (adding color nodelet). Given that you've already tried to compile 0.6.4 of octo

[2020-05-12 13:20] gstavrinos commented on #70
Hello again,

Thanks for your effort. I will try to debug it and come back, hopefully with a solution.

George

[2020-05-14 13:22] gstavrinos commented on #70
Ok, I have something, but it is not a solution.

I have access to two Ubuntu 18.04 computers and one MXLinux 18 (Debian) computer. All of them have ROS Melodic installed. Both of the Ubuntu computers had exactly the same behaviour but the Debian-based one kept running properly...

This might have to do something with the slower repo updates of Debian distros. I tried to pinpoint which library made

[2020-05-21 08:14] iscsrl commented on #49
Hi, any update about the release for Ros Melodic?

[2020-05-21 09:18] wxmerkt commented on #49
This package has been released and is available on ROS Melodic: `ros-melodic-octomap-mapping`. Please let me know if you have any issues

[2020-06-10 08:20] Jrdevil-Wang opened #71 "Performance issue"
Hello, I am doing some experiments using octomap, and something strange occur on performance.

When I use the default octomap version along with ROS melodic (Ubuntu 18.04), I get the debug log like this:

But when I use the version compiled with github kinetic-devel, it is much slower and I get the debug log like this:

Any idea what would cause this difference? Many thanks!

[2020-06-10 10:07] wxmerkt commented on #71
How did you compile/what are your workspace settings? Is Release mode set?

[2020-06-10 10:25] Jrdevil-Wang commented on #71
Thank you for your quick reply!
It was my mistake that I forget to set release mode. Did not realize that there could be that much difference.
I recompiled the workspace with "catkin_make -DCMAKE_BUILD_TYPE=Release", and the performance looks fine.
Let me close this issue and sorry for your trouble.

[2020-06-10 10:25] #71 closed, assigned to nobody

[2020-06-19 18:24] 1617rosengineer opened #72 "After downloading the octomap_mapping file to the catkin_ws / src file directory, I get the following error when I make catkin_make in the catkin_ws file directory. Can you help me?"
-- +++ processing catkin package: 'octomap_server'
-- ==> add_subdirectory(octomap_mapping-kinetic-devel/octomap_server)
-- Using these message generators: gencpp;geneus;genlisp;gennodejs;genpy
-- Could NOT find octomap_ros (missing: octomap_ros_DIR)
-- Could not find the required component 'octomap_ros'. The following CMake error indicates that you either need to install the package with the same

[2020-06-19 18:57] wxmerkt commented on #72
As the message says, you need to install the `octomap_ros` package. The easiest way to do this is `sudo apt install ros-$ROS_DISTRO-octomap-ros`

[2020-06-19 19:04] 1617rosengineer commented on #72
After downloading the file you said, when I made catkin_make again, I got the following error.

-- Using these message generators: gencpp;geneus;genlisp;gennodejs;genpy
CMake Error at /home/cansel/catkin_wss/devel/share/octomap_msgs/cmake/octomap_msgsConfig.cmake:113 (message):
  Project 'octomap_msgs' specifies
  '/home/cansel/catkin_wss/src/octomap_msgs/include' as an include dir, which
  is not

[2020-06-19 20:26] 1617rosengineer commented on #72
Thank you so much
Do you have information about using tello drone in gazebo environment ? @wxmerkt

[2020-06-19 21:39] wxmerkt commented on #72
No, I have never used that particular package.

I will close this issue as the original question has been resolved.

[2020-06-19 21:39] #72 closed, assigned to nobody

[2020-06-23 12:14] iandresolares opened #73 "Octomap_saver not saving the map"
Hello, I'm using octomap package in Kinetic distro in combination with the gmapping package in order to perform 2D SLAM and build a 2D map and also a 3D map with Octomap. Both are working fine, the 3D map is being created correctly in rviz but when I try to save it i get this error:

Request to /octomap_full failed; trying again...

In order to save it I'm using the command:

rosrun octomap_server

[2020-06-23 12:53] wxmerkt commented on #73
Hi Andrés,
Could you please provide the output of `rosservice list`? I have the suspicion this could be a namespacing issue.

Thanks,
Wolfgang

[2020-06-24 08:43] iandresolares commented on #73
Hi Wolfgang,
thanks for your answer. This is the complete output of the rosservice list:
bo/apply_joint_effort
/gazebo/clear_body_wrenches
/gazebo/clear_joint_forces
/gazebo/delete_light
/gazebo/delete_model
/gazebo/get_joint_properties
/gazebo/get_light_properties
/gazebo/get_link_properties
/gazebo/get_link_state
/gazebo/get_loggers
/gazebo/get_model_properties
/gazebo/get_model_state
/gazebo/ge

[2020-06-24 10:01] wxmerkt commented on #73
Thanks - this is as suspected due to a namespace clash: The `octomap_saver` node wants to request `/octomap_full` but your `octomap_server` is in namespace `robot`. As thus the octomap service is `/robot/octomap_full`. As a result, you can run the octomap saver node as (using remapping):

[code]

[2020-06-24 10:24] iandresolares commented on #73
Hello Wolfgang,
that was the problem, yep, it works great now! Thank you so much for the fast replies!!
I'm closing this issue.
Best regards,
Andrés

[2020-06-24 10:24] #73 closed, assigned to nobody

[2020-07-02 15:26] jiayinglin-rwth commented on #69
I also have the similar problem. It seems that the sensor_model/max_range is based on the fixed map frame, instead of the moving sensor frame(base_link). Which means if you set the max_range to 200 or more, or set the origin of the map frame in the middle of the octomap, you can see more of the octomap, but it is not a clean solution.

[2020-07-17 09:43] JasDEng opened #74 "Noise accumulated with 2D map"
Hello, I am currently using octomap ros pkg to generate a 2d projected map.

I was able to see my 2d map with rviz. For y-axis, if y >0, it keeps building noise point cloud into the map and doesn't clear it or update at all, while it is not the case if y < 0.

![3](https://user-images.githubusercontent.com/58424655/87773252-7772a980-c855-11ea-8f50-7f05aaa71c30.jpg)

Could someone help please. I re

[2020-07-18 08:06] #74 closed, assigned to nobody

[2020-08-23 02:03] Jxpenggf opened #75 "octreemap real-time"
I was building an octree while using laser slam, and found that it takes longer and longer to build the octree as the map expands. Is there any good way to solve it?This time is as follows:
Map publishing in OctomapServer took 0.020862 sec;"1";"/octomap_server";"1597992232.199627943";"/free_cells_vis_arrayMap publishing in OctomapServer took 0.036827 sec;"1";"/octomap_server";"1597992233.032756327

[2020-09-04 06:09] chopin1998 opened #76 "any ROS2 port?"

[2020-09-14 21:15] wxmerkt commented on #76
Hi @chopin1998, @marwan99,
In reference to this post and https://github.com/ANYbotics/grid_map/issues/219#issuecomment-692288072: No plans or timeline for working on a ROS2 port from my side. Contributions are welcome (happy to create a `ros2` branch etc.), however, as I am currently still working on ROS1 I would not have any substantive feedback or time to devote to it.

[2020-09-17 00:19] Marwan99 commented on #76
I can try and have a go at it. I propose splitting the port into the following PRs for ease of reviewing and to allow anyone interested in helping to jump in:
- octomap_server library & octomap_server_color library and updating CI
- octomap_server_node & octomap_color_server_node
- octomap_server_static
- octomap_server_multilayer
- octomap_saver
- octomap_tracking_server_node
- octomap_server_nod

[2020-09-17 02:21] chopin1998 commented on #76
hi, i found a port here

￼￼https://github.com/iKrishneel/octomap_server2

[2020-09-22 10:55] tadteo opened #77 "Increasing dimension of bounding box"
I am using octomap server to explore a zone. The problem is that I am unable to modify the bounding box of the map. The points are passed in the map reference frame since I have done a package to do transform the point cloud from the robot frame to the map frame. For this reason, I think that the map is limited by the sensor/max_range parameter as it takes the origin as the position of the sensor

[2020-09-22 11:43] tadteo commented on #69
But they suggest to set the input in the map frame and the sensor_model in this way seems to be in the centre of the map frame. How can we correct this problem? Should we just modify the sensor_model/max_range or have I bad understand ho to fed the input to the algorithm?

[2020-09-22 12:01] jiayinglin-rwth commented on #69
Hey I have solved the problem. I had used the transformed pointcloud as input, which was actually wrong.
here is how we solved it:
1. input point cloud for the octomap need to be the one with the local coordinate (in our case it is odom, without any coordinate transformation)
please make sure that the header of the point cloud includes the right frame id
2. then do the coordinate transformation se

[2020-10-05 20:20] wxmerkt commented on #76
@Marwan99 your plan is clear and sounds good. I think it makes sense to have a maintainer for the ROS2 version - either in this repository or in a new repository in this organization. What do you think @ahornung?
I am happy to continue to look after ROS1, but currently do not yet work on ROS2 (starting later this autumn).

Thanks for the link to the port @chopin1998 - I did not look closer into it

[2020-12-08 16:33] kbrix2000 opened #78 "Installation problem for package "ros-noetic-octomap-server" on Debian 10"
### Summary

The installation of the Debian package "ros-noetic-octomap-server" fails on Debian 10 (buster), although according to [ROS Noetic installation page](http://wiki.ros.org/noetic/Installation) Debian 10 is supported.

### Required info

* Operating System: Debian 10
* ROS Version: noetic

### Reason

ros-noetic-octomap-server depends on libpcl-*1.8, but Debian 10 only provides libpcl-*1.

[2020-12-08 18:46] wxmerkt commented on #78
Hi @kbrix2000,
Thanks for the report. That is definitely unintended. I tried tracking down which `rosdep` key would pull in v1.8 but could not immediately. I've removed our runtime dependency on `libpcl-all` such that it gets resolved by the upstream `pcl_ros` package instead. Fingers crossed this fixes it (but it will require a re-release to the buildfarm).

[2020-12-15 09:51] kbrix2000 commented on #78
@wxmerkt Thank you very much for the correction! Did the build succeed? Unfortunately, I could not find an updated package on the [ROS repository](http://packages.ros.org/ros/ubuntu/pool/main/r/ros-noetic-octomap-server/), yet. I do not know ROS's update process for Debian packages. Is there still some kind of approvement required? Is it possible to download the updated package for a test somewher

[2020-12-15 10:23] wxmerkt commented on #78
The package has not yet been updated due to a hold for a sync (the packages are built on a staging server ("testing") first and then are periodicially synced to the main PPA. The status is here: https://github.com/ros/rosdistro/pull/27679

[2020-12-17 15:43] kbrix2000 commented on #78
@wxmerkt Thank you for the information. Would it be possible to download the updated package from the staging server and test it? What is the planned date for the next release?

[2020-12-17 15:58] wxmerkt commented on #78
You can change your ppa to testing by editing the `/etc/apt/sources.list.d/ros.list` from main to testing. apt-get update, and apt-get install should get you the bleeding edge package

[2020-12-17 16:30] kbrix2000 commented on #78
@wxmerkt Ok, I see, thanks!

[2020-12-22 10:05] kbrix2000 commented on #78
What is the correct entry for `/etc/apt/sources.list.d/ros.list`? Unfortunately, `deb http://packages.ros.org/ros/ubuntu buster testing` does not seem to work. I also could not localize the updated Debian packages on the server.

[2020-12-22 12:31] wxmerkt commented on #78
The testing repository is described here - http://wiki.ros.org/TestingRepository - the URL needs to be:

[code]

[2021-01-15 09:10] chengm0-0 opened #80 "how to convert the coloroctree to octree"
Hi, when I use the fcl library, I want to convert the coloroctree to octree, but I do not find any method. I have tried the following way, but it did not make any difference.
octomap::ColorOcTree* octree = new octomap::ColorOcTree(0.1);
octomap::OcTree* octree1 = dynamic_castoctomap::OcTree*(octree);
Could you help me solve this question?
Thanks! :)

[2021-01-17 18:37] ahornung commented on #80
Duplicate: https://github.com/OctoMap/octomap/issues/315

[2021-01-17 18:37] #80 closed, assigned to nobody

[2021-01-19 13:22] mohdomama opened #82 "[octomap_server] Filtering In Map Frame"
Hi,
With  `filter_ground` as `false`, the filtering done with `pointcloud_min_z` and `pointcloud_max_z` happens in the `map` frame. I think the desired behavior would be to do this filtering in `base_link` frame.

Note: When `filter_ground` is `true`, all filtering happens in `base_link` frame.

https://github.com/OctoMap/octomap_mapping/blob/bd66bc1f024f6d77ec2ad175d15c82746063c301/octomap_server

[2021-01-21 16:48] ahornung commented on #82
I think there are valid use cases for both scenarios. Ideally, there is a parameter for the filter frame.

[2021-01-22 10:04] mohdomama commented on #82
Hi,
Thanks for the reply. Should I add a parameter for this?

Also, when doing filtering with `filter_ground` as `false`, the  points outside the filter are not cleared. This issue is apparent when we have dynamic objects in the scene. The entire trail of the object comes as occupied.
I addressed this issue in the PR by marking the points outside the filter as `pc_ground` which then get cleared in

[2021-02-16 03:19] GeneralAdmin commented on #77
Have you found a solution? I have the same issue.

[2021-02-16 09:46] tadteo commented on #77
In the end, I have increased the sensor/max_range parameter ad that worked for me. But I think there is a parameter to change the external bounding box of the octomap.

[2021-02-16 14:29] GeneralAdmin commented on #77
This is the same issue than in:

https://github.com/OctoMap/octomap_mapping/issues/69

I've also seen that the folks in:

https://github.com/PX4/PX4-Avoidance/blob/master/global_planner/src/nodes/global_planner_node.cpp

Have done this to solve the issue:

// Go through obstacle points and store them
void GlobalPlannerNode::depthCameraCallback(const sensor_msgs::PointCloud2& msg) {
  try {
    //

[2021-03-08 16:27] NicoNorena opened #84 "fullmap displaying in RVIZ #Question"
I've created a custom node like the ColorOctree and I can publish the binary msg and display it on RVIZ.
But It looks like i can't visualize the map when set as full map. Does the full map publishes with colors and node variables? Is there an example on how the data from the node is parse out from the RVIZ plug-in.

I get three huge boxes which does correspond to the occupancy space like the binar

[2021-03-11 02:26] NicoNorena commented on #84
In the plugin I was only reading the tree, so I changed it to use :
`octomap_msgs::fullMsgToMap(*msg)`

can I type cast to the child class?

[2021-03-11 03:42] NicoNorena commented on #84
This is the issue I see after serializing:
ERROR: Could not create octree of type "{CUSTOM_NAME}OcTree", not in store in classIDMapping

I did add getTreeType() returning  "{CUSTOM_NAME}OcTree".

[2021-03-11 10:28] wxmerkt commented on #84
Did you register your custom octree type with `registerTreeType(mytree)`, cf. https://github.com/OctoMap/octomap/blob/7a9ab4a357860f7263769cce9dd45107ec8b2c4a/octomap/src/AbstractOcTree.cpp#L205-L207?

[2021-03-11 17:27] NicoNorena commented on #84
@wxmerkt yes, in the header file the same way as in the ColorOctree in the StaticMemberInitializer class.
https://github.com/OctoMap/octomap/blob/devel/octomap/include/octomap/ColorOcTree.h#L187

Any other ideas?

[2021-03-11 18:57] NicoNorena commented on #84
I got it working!!
I had to a new instantiate "{CUSTOM_NAME}OcTree" pointer called tree

if(tree)
{
        std::stringstream datastream;
        if (msg->data.size() > 0)
        {
	        datastream.write((const char*) &(msg->data[0]), msg->data.size());
	        tree->readData(datastream);
        }
    }

Basically called the `octomap_msgs::fullMsgToMap(msg)`  directly on my plugin

[2021-03-11 18:57] #84 closed, assigned to nobody

[2021-03-23 22:30] saharLeisiazar opened #85 "/reset service does not work"
Hi
I am using octomap_server on  ros Melodic and in my project I need to reset the /projected_map while mapping. But the /reset service does not work. I remember I had Kinetic before and did not have this problem but now that I am using Melodic, this service is not working. Is there any other way I can reset my map?

[2021-03-23 23:04] wxmerkt commented on #85
HI @saharLeisiazar,
Can you describe what happens when you call the reset service? Is there a response? The relevant code did not change between the released version for Kinetic (0.6.4) and the one released for Melodic (0.6.5) - cf. https://github.com/OctoMap/octomap_mapping/compare/0.6.4...0.6.5

[2021-03-23 23:09] saharLeisiazar commented on #85
Thanks for responding @wxmerkt
Nothing happens. no response, no error
![Screenshot from 2021-03-23 08-05-40](https://user-images.githubusercontent.com/49044284/112230480-1e33f480-8bf2-11eb-82ba-9ee4efa4a198.png)

[2021-04-05 10:38] Manit-Chan opened #86 "process has died, exit code -11 Segmentation fault"
Once I have used this great library octomap_mapping in hector_quadrotor with Velodyne VLP16 project to show Marker array on Rviz and it work perfectly.

But when i go to another project and need to apt full-upgrade, our hector_quadrotor project cann't work again.

We remove and reinstall ros and its dependencies after that hector_quadrotor project work again but octomap_mapping not.

When we use"r

[2021-04-05 11:05] wxmerkt commented on #86
Are you using the Velodyne Gazebo plugin by any chance? We recently saw the error above coming from the Pointcloud-from-message conversion in another package and it was due to malformed LidarScans of the Velodyne Gazebo plugin. In this case compiling the latest Velodyne Gazebo plugin from source fixed it.

[2021-04-12 07:03] Manit-Chan commented on #86
Thank you wxmerkt  After i install Velodyne Gazebo plugin from source, It work again and now Marker array are shown on Rviz.

[2021-04-12 08:06] wxmerkt commented on #86
Great, thanks for the feedback. I'll go ahead and will close the issue.

[2021-04-12 08:06] #86 closed, assigned to nobody

[2021-04-16 13:20] iKrishneel commented on #76
@wxmerkt @ahornung
I ported this repo to ROS2 ages ago.
I am wondering if there is any chance to move the ros2 port to this organization?

[2021-04-16 13:39] wxmerkt commented on #76
@iKrishneel thanks for the ping. @ahornung is the correct person to answer transferring the repo to this organisation. In either case, I believe the copyright headers and notices etc. should also be reinstated in your port

[2021-04-16 14:21] iKrishneel commented on #76
@wxmerkt Thanks for your reply. As you suggested, I will update the headers and comments in the port.

[2021-04-21 19:16] ahornung commented on #76
@iKrishneel sure, that would be good! How different is the port, would it make sense to have it within this repo as separate branch or is it too different? Ideally, you could merge it back as a pull request - or what do you think @wxmerkt ?

[2021-04-25 11:08] iKrishneel commented on #76
@ahornung
Since ROS1 support has ended, how about a separate repo for ROS2 version of octomap?

[2021-04-25 11:50] wxmerkt commented on #76
ROS1 is still supported until 2025 and widely used both in research and industry. Given that the code has diverged a bit, a separate repository might be the best option. Alternatively we could separate the communication and mapping parts and this would allow a single repository.

@ikrishneel did you make modifications to the mapping part or mostly updated the communication parts?

[2021-04-25 13:02] iKrishneel commented on #76
@wxmerkt I just updated the communication.

[2021-04-26 13:47] tomkimsour opened #87 "Unable to launch any package"
I'm new to the whole ros environment, did the tutorial and i need to understand how octomap works.
To do so i wanted to test your project.
I created a new workspace.
[code]
From there everything went fine, it compiled without a problem.
Then I wanted to launch a file but i got : `[octomap_mapping] is not a launch file name
The traceback for the exception was written to the log file
`

Could you he

[2021-04-26 13:57] wxmerkt commented on #87
The error message says that what you tried to launch isn't a launch file - as thus could you please provide the command you used? The following should work:
[code]

[2021-04-26 14:07] tomkimsour commented on #87
It was it : i did ```roslaunch octomap_mapping``` instead of ```roslaunch octomap_server octomap_mapping.launch```

Thanks a lot

[2021-04-26 14:07] #87 closed, assigned to nobody

[2021-04-30 13:47] tomkimsour commented on #63
How did you fix it ?

[2021-05-17 09:22] tomkimsour commented on #31
Did anyone find a solution to this ? Which parameter should i tweak in the ros node to solve this ?
Is it ```pointcloud_max_z``` and ```pointcloud_min_z``` ? What range should I use.
I did not really understand the last answer

[2021-05-25 12:25] tomkimsour opened #89 "No ground plane found in scan"
Hello,

I am using ros kinetic and am actually trying to do mapping with octomap but I can't understand properly what this error mean.
It only prompt when i set ground_filter to true.

[code]

I have no idea where it could be coming from. My odometry seems right, i can map using my lasers.

here is my launch file :

[code]

[2021-06-22 08:58] leonardlohky commented on #63
Also facing this same issue under similar circumstances. Has anyone been able to find a solution?

[2021-07-08 13:12] murikill commented on #62
I'm still having the same issue - dynamically objects won't removed. I think, there are enough points in the background, but the cells doesn't disappear. What do I wrong?
Thank you!
![octomap](https://user-images.githubusercontent.com/16001211/124927313-c84b5700-dffe-11eb-8b6b-c6d556dc2bed.png)

[2021-07-27 11:15] ndugdale opened #90 "octomap_server pointcloud_[min|max_z] and occupancy_[min|max]_z parameters only allow values up to -/+100"
I have been trying to use the octomap_server to generate an OctoMap that goes up to +/- 120 from the map origin. Points outside the +/-100 range are excluded from the OctoMap, despite setting larger parameter values for pointcloud_[min|max]_z in the launch file.

My launch file looks like this.
[code]

I can see that my launch file is correctly accessing the parameters, because if I instead set th

[2021-07-29 09:41] #63 closed, assigned to nobody

[2021-08-02 11:51] ValentinaMiller commented on #85
+1

[2021-08-02 11:57] ValentinaMiller opened #91 "Change of max_range doesn't work"
I am trying to figure out how the size of the octomap increases with bigger ranges. But when I change max_range (in the launch file) nothing changes in rviz and the octomaps are also not bigger. However when I ask with rosparam get the value is updated. Even when I set it to 0 it still shows the same mapping in rviz and saves the same octomap when I call the service to save it...

I would apprecia

[2021-08-02 12:51] wxmerkt commented on #85
@saharLeisiazar @ValentinaMiller can you please try #92 and let me know if that fixes your issues?

[2021-08-05 09:47] #91 closed, assigned to nobody

[2021-08-05 10:06] ValentinaMiller opened #93 "How to integrate into existing package?"
I am currently working with this workspace https://github.com/mSimon12/multiple_quadrotors and I am trying to track the changes in the octomap and therefore would like to use your packages. However, I am not able to connect the two packages.

When I try to start the any of the octomap_server launch files it tells me "Nothing to publish, octree is empty" even though I can see the octomap in rviz, c

[2021-08-05 10:44] wxmerkt commented on #93
`Nothing to publish, octree is empty` indicates that the Octree is empty and thus the server won't publish any message. Publishing is either triggered after point cloud insertion, clearing parts of the octree, or calling the reset service. As thus, I am surprised that you can see the Octomap if it indicates that the Octree is empty. The first step to investigate is to check that the topics are con

[2021-08-06 08:54] ValentinaMiller commented on #93
Thanks for your quick response! Yes you were right!
The octomap_server node is connected correctly but the tracking and nodelet node are not connected to the other nodes...
Can you give me some advice on where in the package those dependencies are defined?
Thanks a bunch!

[2021-08-07 17:39] wxmerkt commented on #93
The relevant code is in [OctomapServer.cpp](https://github.com/OctoMap/octomap_mapping/blob/kinetic-devel/octomap_server/src/OctomapServer.cpp) for the regular octomap server or in [TrackingOctomapServer.cpp] for the tracking server - based on the post I am not sure which one is used or you are planning to use. From the linked repository, it appears that the standard octomap server is used fusing

[2021-08-07 17:41] wxmerkt commented on #45
Closing as the issue is unclear. Please reopen/provide more detail if still relevant

[2021-08-07 17:41] #45 closed, assigned to nobody

[2021-08-07 17:45] wxmerkt commented on #65
Related to #85 - also due to the early return inside `publishAll` in
https://github.com/OctoMap/octomap_mapping/blob/84633da1077335e86f41fe214085d90dc212fcd8/octomap_server/src/OctomapServer.cpp#L487-L490

However, not yet fixed by #92

[2021-08-07 17:47] wxmerkt commented on #78
@kbrix2000 I hope the release in December resolved this - hence closing the issue now. Please reopen or let us know if the issue still persists

[2021-08-07 17:47] #78 closed, assigned to nobody

[2021-08-09 15:00] ValentinaMiller commented on #93
Thanks again! Using camera/depth/points used part of the issue I think, the octomap_talker subscribed to camera/depth/points now and the octomap_tracking_server subscribed to octomap_talker and octomap_listener subscribed to octomap_tracking_server. (I guess that is how it is supposed to be?)
However when I am moving and listening to the octomap_tracking_server nothing is being published...
Do you

[2021-11-08 14:44] jarvisyjw commented on #74
Hi, How did you solved it? I am facing the same issue.

[2021-11-08 14:53] jarvisyjw commented on #62
Have you solved it? I am facing the same thing.

[2021-12-10 15:37] UdayRockzz commented on #89
Hi @tomkimsour  Did you solve this issue?

[2021-12-13 09:52] tomkimsour commented on #89
As far as I remember it was due to the robot lense coefficient but I never solved this problem.

[2021-12-24 12:22] wxmerkt commented on #76
Thanks to the work of @wep21, there is now a ROS2 port on branch `ros2`.

[2021-12-24 12:22] #76 closed, assigned to nobody

[2021-12-24 12:57] wxmerkt commented on #76
@nuclearsandwich It appears I don't have access to the ROS2 release repository for `octomap_mapping` yet (it's not part of the team - https://github.com/orgs/ros2-gbp/teams/octomap/repositories). Many thanks in advance and happy holidays :-).

[2022-01-03 16:01] sherlockholmes1603 commented on #63
Sir we are getting the same error and also there is warn status by visualizing "/occupied_cells_vis_array" topic in  rviz and also "/free_cells_vis_array" topic is empty while visualizing the topic in rviz

Please help me guide me what to do

[2022-01-05 18:08] nuclearsandwich commented on #76
@wxmerkt apologies for the delay. There was an issue with the earlier deployment of changes which has now been resolved. Please confirm access to the https://github.com/ros2-gbp/octomap_mapping-release repository and let me know if there are any other issues.

Additionally, you're currently the only member of the release team. Should there be any other maintainers on it currently?

[2022-01-05 20:51] wxmerkt commented on #76
Thank you - releases for foxy, galactic, and rolling are out now (i.e. access is working :-)). Let's add @ahornung as the creator of the library, perhaps he has additional suggestions as well.

[2022-01-07 16:08] nuclearsandwich commented on #76
That change should be deployed or deploying soon.

[2022-01-07 16:32] wxmerkt commented on #76
Fantastic, thank you!

[2022-01-11 15:21] muratkoc503 opened #96 "when OccupancyMap in Rviz, corrupted size vs. prev_size in fastbins and core dumped"
Hi,
Firtly, i constructed octomap as .bt file. Then, i load .bt map file with octomap_server_node. This is Ok.
then, i start rviz. After, i add OcuppancyMap which come from rviz plugin. After i select Octomap Binary Topic as /octomap_binary. when i do this, rviz closed and this message observed in terminal:

Aborted (core dumped)

How i visualise octomap .bt file in Rviz?
Thanks.

[2022-01-11 16:04] wxmerkt commented on #96
Hi @muratkoc503
Could you provide the `.bt` file to help reproduce the failure? A good way to reproduce would be to build rviz and octomap_rviz_plugins with Debug symbols and then run rviz with `gdb`. This allows you to figure out where things go wrong

[2022-01-11 17:03] muratkoc503 commented on #96
@wxmerkt Thanks for answer. I reproduce .bt file. This is solved problem. Previously, i construct map and after i install rviz plugin. Maybe, this may cause my problem

[2022-01-11 17:04] #96 closed, assigned to nobody

[2022-01-14 03:13] Minsu-Kim1822 opened #97 "Hi, points queue? issue"
Hi, I'm trying to mapping with LIVOX-MID-70 LiDAR.

In my case, firstly, points are stacked few moments and then, stacking is stop.
I edited .launch file in world frame as camera_init, and point cloud's topics to.

any solutions?

[2022-01-14 10:28] wxmerkt commented on #97
Hi @Minsu-Kim-KNU
There isn't enough information to help us debug - e.g. if the topics are correctly mapped and the transforms are received soon enough/at all. It's also possible that the node is getting quite busy integrating at a high rate and updates are slow (e.g. CPU at 100% for `octomap_server` but RViz not updating etc.). It's easier to debug if you have a rosbag and corresponding used laun

[2022-01-14 10:49] Minsu-Kim1822 commented on #97
Hi, @wxmerkt
Thanks for your reply.
Sorry for my few informations, and sorry for my poor English.
I tried to solve this problem myself, but all the informations below are my current situation.
1. Run `octomap_server octomap_mapping.launch` in Indoor condition, It works well. I can get all the informations that I want.
2. But outdoor Condition, I cannot. I run this launchfile with LIVOX MID-70 LiDA

[2022-01-14 11:20] wxmerkt commented on #97
I am afraid I cant provide much insight here - it is possible that the sensor/max_range is clipping too soon. It's also unclear if the received data is too much. If it's working indoors, the issue is likely to be with the settings in the launch file that need to be adjusted for your use case.

[2022-01-16 09:53] Minsu-Kim1822 commented on #97
Thanks for your advice. I'll do my best with this issue, and if I have an updates I'll mention in here. thanks.

[2022-01-16 14:03] #97 closed, assigned to nobody

[2022-01-21 01:43] Minsu-Kim1822 commented on #97
Hi, I solved this problem 3days ago.

My problem was usage of CPU. Mapping with 2 launch files is too hard for my CPU.
so, octomap was not upadate well. Then I tried mapping with only octomap, it works well. thanks for your advice.

[2022-01-27 10:10] Adrian2702 opened #98 "Error when trying to build octomap_mapping from source (Windows 10)"
# Description

I want to use the _octomap_mapping_ package to visualize a point cloud created with an Intel-Realsense D455 camera as a 3D occupancy grid mapping in RViz. I encounter an error when I try to create _octomap_mapping_ from the source code.

# My environment

- ROS Distro: Melodic
- OS Version: Windows 10
- Visual Studio Community 2019 (2) - 16.11.8
- Desktop Development with C++
- Wind

[2022-01-27 10:30] wxmerkt commented on #98
Hi @Adrian2702
To my knowledge, this code has not been tested or used under Windows. As thus, I am not surprised by the build failures. We'd be happy to accept a PR to fix the issues.

Best,
Wolfgang

[2022-01-28 18:10] tejalbarnwal commented on #63
Hey, you need to ensure that there is a transformation from the `frame_id` that you had specified in the `octomap_mapping.launch` and the frame_id that is present inside the header part of the sensor data.

[2022-03-11 15:01] jhforstudy opened #99 "Any OctomapServer.cfg parameter doesn't work"
Hi, I'm trying to get OccupancyGrid from PointCloud2 which is mapped from SLAM package.

I want to put the /cloud_registered topic (PointCloud2 data with fixed frame, this data mapped from SLAM) to cloud_in, and wanna get /projected_map (OccupancyGrid data).

When I execute `roslaunch octomap_server octomap_mapping.launch,`
![스크린샷, 2022-03-11 23-34-34](https://user-images.githubusercontent.com/487

[2022-03-23 08:34] aladin2022 commented on #90
Hello, is the pointcloud_min/max_z reflects the limit height of the points cloud to be projected in the occypancy grid map ?

[2022-04-17 08:10] yckan opened #101 "/free_cells_vis_array"
Hi,

I have been trying to use my 3D Velodyne LiDAR data to construct an Octomap. By using NDT map matching, I am able to provide the /tf for octomap_mapping. In RViz, I am able to visualize the occupied cells by using the topic /occupied_cells_vis_array. I wish to visualize the free cells as well using the topic /free_cells_vis_array. However, I found that the "/free_cells_vis_array" is empty. Ma

[2022-04-17 11:50] yckan commented on #101
In the end, I found that I actually didn't enable publishing the free cells. Thank you.

[2022-04-17 11:50] #101 closed, assigned to nobody

[2022-04-19 10:31] #85 closed, assigned to nobody

[2022-05-06 07:23] ShuiYunXi commented on #63
I also get the same error and how to  set the transformation  frame_id ?by the way my enviroment is foxy and ubuntu20.04.

my error info:
----------------
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [octomap_server_node-1]: process started with pid [11004]
[octomap_server_node-1] [INFO] [1651821775.666505026] [octomap_server]: Publishing latched (single publish will take longe

[2022-05-09 07:06] ShuiYunXi opened #103 "octomap_saver_node report an error"
Hi,I'm trying to use the octomap_saver_node to save a map,but report an error as follows:

environment:Ubuntu20.04
ROS's Version:foxy
Question 1:
[code]

Question 2: The octree map will move with the movement of the robot, can you tell me how to solve it? thank you very much

note:The transform include the odom->base_link and have no  map.

[2022-05-09 11:15] wxmerkt commented on #103
This is due to an underflow bug when the `map_name` is not provided (parameter `octomap_path`):
https://github.com/OctoMap/octomap_mapping/blob/7b7e8e87207241462a531445afed51ef1b637014/octomap_server/src/octomap_saver.cpp#L101

@wep21 - could you please take a look at this / check for length / throw error?

[2022-05-09 15:25] ShuiYunXi commented on #103
how can i check  this / check for length / throw error?

[2022-05-09 15:42] ShuiYunXi opened #104 "Can not filter ground in foxy"
Hello,Could you tell me why not filtet the ground when I use launch the octomap_server.
environment:Ubuntu20.04
ROS's Version:foxy
launch file:

[code]

[2022-05-12 01:27] wep21 commented on #103
@wxmerkt Thank you for letting me know. I will take a look at this issue.

[2022-05-22 15:00] boazMgm opened #106 "Run multiple instances of Octomap Server in ROS"
Hi,
is there an option to run multiple instances of Octomap server in ROS?
for example, I want to build different occupancy grids with different sensors and compare between them.
Thanks!

[2022-05-28 22:57] aladin2022 opened #107 "octomap for outdoors maps"
Hi, when a choose the map  as a fixed frame, the octomap server will always consider the first frame dispi
te the changes in the environmentz height !! Is the octomap server insufficient with outdoor environments ?

[2022-06-15 06:05] kJh19 commented on #104
The actual parameter name for ros2 is "filter_ground_plane".
Went trough [octomap_server.cpp](https://github.com/OctoMap/octomap_mapping/blob/ros2/octomap_server/src/octomap_server.cpp) and looked at the "declare_parameter" functions.
At least for the ros2 branch this one and some others do not match the names on the ros wiki (which I suppose is for ros1, so just no documentation for the changes y

[2022-06-22 12:53] nkr-seasony commented on #103
Hi I am having  the same problem , by  running ros2 run octomap_server octomap_saver_node -f map.bt ,I get this:
[INFO] [1655901876.946400726] [octomap_saver]: Map received (23542 nodes, 0.050000 m res), saving to
terminate called after throwing an instance of 'std::out_of_range'
 what():  basic_string::substr: __pos (which is 18446744073709551613) > this->size() (which is 0)
How should I fix it?

[2022-06-22 15:11] wep21 commented on #103
@nkr-seasony I added instruction to save octomap in #108. Please check it out.

[2022-06-24 13:03] nkr-seasony commented on #103
Thank you, I fix it.
________________________________
From: Daisuke Nishimatsu ***@***.***>
Sent: Wednesday, June 22, 2022 7:42 PM
To: OctoMap/octomap_mapping ***@***.***>
Cc: Nivand Khosravi ***@***.***>; Mention ***@***.***>
Subject: Re: [OctoMap/octomap_mapping] octomap_saver_node report an error (Issue #103)

@nkr-seasony<https://github.com/nkr-seasony> I added instruction to save octomap in #

[2022-06-29 15:14] #103 closed, assigned to nobody

[2022-06-30 15:28] JMadhup commented on #63
@ShuiYunXi open the octomap_mapping.launch file in the octomap_server package and there you will see the frame_id parameter. You can then set its value to whatever frame_id is in your sensor message header.

[2022-08-04 03:22] GalaxyZH opened #109 "The constructed point cloud map is tilted"
As can be seen in the figure, the LIDAR point cloud image is crooked, and the ground is flat
![Screenshot from 2022-08-04 10-07-49](https://user-images.githubusercontent.com/64687898/182752123-1310de82-7cf3-46e8-8199-9cf06afefda2.png)

[2022-11-03 14:34] zichunxx opened #110 "octomap_full message update?"
Hi!

I'm new to octomap_mapping, so maybe my issue is dumb.

Hopefully I can get a response to my issue.

When I use `octomap_mapping.launch` to convert the point cloud to octomap, I found that the octomap won't change in real time like `Pointcloud2` message, i.e., the octomap in the past is still visible and won't disappear.

I guess I might use `octomap_tracking_client.launch`, but now, I'm stil

[2022-11-04 10:10] wxmerkt commented on #110
Unless a different change is observed, the OctoMap will not be cleared by default - there is no decay of nodes in the current implementation

[2022-11-04 11:30] zichunxx commented on #110
Thank you for your reply!

I'm pretty sure there is an obvious change of my dynamic environment.

I found a [question](https://answers.ros.org/question/77476/octomap-in-dynamic-environment/) that is very similar to my question. When the obstacle disappears from the view, the residual occupied cells still remain.

I have tried to call the service to reset the octomap with `rosservice call /octomap_